/* .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
} */
.error{
color: #af4242;
background-color: #fdeBec;
padding: 10px;
display: none;
}
.error.display-error{
    display: block;
    margin-bottom: 20px;
    transform: translateY(-20px);
}

.success{
    margin-bottom: 30px;
    color: green;
    background-color: #d2ffd2;
    padding: 10px;
    display: none;
}
.success.display-success{
    display: block;
}

